// text
$title-color: #202124;
$text-color: #3c4043;
$active-color:#185abc;
$price-color: #202124;

// access
$access-color: #137333;
$access-background: #e6f4ea;

// danger
$danger-color: #d93025;
$danger-backgound: #fce8e6;

// border
$border-color: #dadce0;

// background
$background-main: #f8f9fa;
$background-header: #2a303a;
$background-active: rgba(28,116,233,0.1);

// badge backround
$background-apple: $background-header;
$background-alphabet: #ED161E;
$background-microsoft: $active-color;
$background-amazon: #C26C03;
$background-facebook: #4267B2;
$background-tesla: #E31937;