@import "utils/colors.scss";

.main-content {

    &__body {
        padding-top: 24px;
    }

    &__aside {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid $border-color;
        border-radius: 12px;
        padding: 0;
        min-width: 320px;
        margin-top: 30px;

        & .title-main {
            padding: 0 12px;
        }
    }
}

@media(max-width: 973px) {
    .main-content {
        
        &__content,
        &__aside {
            min-width: 100%;
        }
    }
}